 /* Background UserProfile AREA*/
 .theme-dark .app_a01fb1 {
	background-image:url(https://i.ibb.co.com/ZNMHKKH/006dg-XNNly1gzax824vdij31hc0u0dr6.jpg);
	background-size:cover;
	padding:10px;
}
.layers_d4b6c5 {
	backdrop-filter:blur(3px);
	background-color:rgba(0,0,0,0.253);
	border-radius:10px;
}
.theme-dark .uploadModal_f82cc7,.bg_d4b6c5 {
	background-color: transparent;
}
/* DISCORD_ICON_HOME*/
#app-mount .guilds_a4d4d9 .tutorialContainer_f9623d .listItem_c96c45:first-child .wrapper__8436d:before {
	content:"";
	border-radius:50%;
	position:absolute;
	background:url("https://i.ibb.co.com/YB23kfW/bb.png");
	/* edit me! */
	background-size:contain;
	background-position:center;
	height:100%;
	width:100%;
	transition:0.2s ease;
}
.homeIcon__560eb,.tutorialContainer_f9623d .childWrapper_a6ce15 {
	display: none;
}
/* Transparent Stuffs*/
.container_fc4f04.themed_fc4f04,.chat_a7d72e,.members_cbd271,.chat_a7d72e,.container_cbd271,.theme-dark .container_ee69e0,.sidebar_a4d4d9,.theme-dark .scroller_fea3ef,.wrapper_fea3ef,.chat_a7d72e,.container_c2739c,.privateChannels_f0963d,.theme-dark .scroller_c47fa9,.scroller_bf550a,.panels_a4d4d9,.nowPlayingColumn_c2739c,.skeletonChatBody__87e20,.skeletonChatContainer__07b95,.scrollableContainer_d0696b,.children_fc4f04:after,.folder_bc7085,.auto_c49869::-webkit-scrollbar-track,.header_f0cd33,.auto_eed6a8::-webkit-scrollbar-track,.chatContent_a7d72e,.peopleColumn_c2739c,.panels_a4d4d9,.container_adcaac,.searchResult_ddc613,.container_bf550a,.userPanelInnerThemed_c69a7b {
	background:transparent;
}
.theme-dark .form_a7d72e:before,.theme-dark .form_a7d72e:after {
	background:transparent
}
.theme-dark .children_fc4f04:after {
	background:transparent;
}
.scroller_f4e139::-webkit-scrollbar-track,.searchBarComponent_f0963d,.scrollerBase_c49869,.shopScroll_e77fa3,.pageWrapper_e77fa3 {
	background-color: transparent !important;
}
/* Background Dark Area*/
.container_c2efea,.addFriendInputWrapper_de812f,.chatContent_a7d72e,.searchBarComponent_f0963d,.peopleColumn_c2739c,.panels_a4d4d9,.expandedFolderBackground_bc7085,.member_a31c43,.contentRegion_c25c6d,.contentTransitionWrap_c25c6d,.applicationStore_cecc86,.shop_e77fa3,.searchBar_e0840f,.search_c2efea,.container_ad8f79,.headerBar_d8354c,.container_f1fd9c,.scrollerContainer_c6b11b {
	background-color: rgba(0,0,0,0.349) !important;
}
/* More Darker*/
.side_a0,.searchResultsWrap_c2b47d,.messagesPopoutWrap_ac90a2,.searchBar_a46bef,.searchResultsWrap_c2b47d,.messagesPopoutWrap_ac90a2,.searchHeader_b7c924,.channelTextArea_fb4810,.channelTextArea_a7d72e,.closeButton_ddb5b4,.stickyHeader_f1629a,.container_b55df8 {
	background-color:rgba(0,0,0,0.534);
}
.quickswitcher_f4e139,.circleIconButton_db6521,.messageContainer_ddb5b4 {
	background-color:rgba(255,165,165,0.46)
}
.input_f4e139,.scroller_f4e139,.channelHeader_f3978e,.content_c2654d,.channelRow_f04d06 {
	background-color:rgba(54,17,17,0.622);
	border-radius:10px;
}
.result_f14193[aria-selected=true] {
	background-color:rgba(255,165,165,0.46);
}
.selected_bd5e1f {
	background-color: rgba(251,181,181,0.711)!important;
}
/* Buttons*/
/* --Improved User Area-- MADE BY riddim_glitch*/
/* Make both the username and status message visible at all times. */
.container_b2ca13 .hovered_c0d6c6,.hoverRoll_c0d6c6.forceHover_c0d6c6:not(.disabled_c0d6c6) .default_c0d6c6 {
	opacity:1!important;
	transform: none;
}
/* Adds an @ to the username. Discord,for the love of god,just add this yourself already. */
.container_b2ca13 .hovered_c0d6c6::before {
	content: "@";
}
/* Move the custom Status message down so that it doesnt overlap with the Username */
.default_c0d6c6 {
	margin-top: 15px;
}
/* Credit to @thecommieaxolotl for this code. */
/* --Hides User Buttons until Hover-- */
/* Hide mute and deafen buttons */
.panels_a4d4d9>.container_b2ca13 .flex_bba380>:not(:last-child) {
	opacity:0% !important;
	width:0px;
	transition: all 0.3s ease-in-out;
}
/* Reveal mute and Deafen buttons when settings button is hovered */
.panels_a4d4d9>.container_b2ca13 .flex_bba380:hover>:not(:last-child) {
	opacity:100% !important;
	width: 32px;
}
/* Resize and move the profile button to take up all the space it can to look clean. */
.avatarWrapper_b2ca13 {
	transition:all 0.3s ease-in-out;
	width:100%!important;
	margin-left:-10px;
	height:53px;
	border-radius: 0!important;
}
/* Move the avatar back to the right a bit to look clean. */
.avatarWrapper_b2ca13 .avatar_b2ca13 {
	margin-left: 10px;
}
/* Visible the container of profile*/
.theme-dark .container_b2ca13 {
	background-color: transparent;
}
/* BORDER AREA ==============*/
.theme-dark code,.chat_a7d72e,.members_cbd271>div,.chat_a7d72e,.sidebar_a4d4d9,.wrapper_fea3ef,.chat_a7d72e,.container_c2739c,.panels_a4d4d9,.container_a94980,.applicationStore_cecc86,.optionButtonWrapper_bd5e1f {
	border:2px solid rgba(255,163,163,0.685);
	border-radius:10px;
}
.modeSelected_d8bfb3 .link_d8bfb3,.modeSelected_d8bfb3:hover .link_d8bfb3,.prompt_c6b11b {
	background-color:rgba(255,174,198,0.358);
	border:2px dashed rgba(255,163,163,0.685);
	border-radius: 10px;
}
/* BORDER RADIUS AREA =======*/
.chatContent_a7d72e,.peopleColumn_c2739c,.panels_a4d4d9,.userPopoutOuter_c69a7b,.userProfileOuter_c69a7b,.userProfileOuterUnthemed_c69a7b,.userPanelOuter_c69a7b,.bannerSVGWrapper_b32cc2,.userProfileOuterThemed_c69a7b,.theme-dark,.custom-theme-background,.auto_eed6a8::-webkit-scrollbar-track,.none_c49869,.scrollerBase_c49869 {
	border-radius: 10px;
}
/*margin ====================*/
.members_cbd271,.members_cbd271>div {
	margin:2px;
	padding:2px;
}
.container_ee69e0 {
	margin:3px;
}
.sidebar_a4d4d9,.scroller_c47fa9 {
	margin:2px;
	padding-right:5px;
	padding-left:5px;
}
.userPanelInnerThemed_c69a7b {
	margin:3px;
	padding:10px;
}
.chat_a7d72e {
	margin-left:10px;
}
.panels_a4d4d9 {
	margin-left:2px;
	margin-right:2px;
	margin-bottom:5px;
	align-content: center;
}
/*** UTILITY HERE ***/
[class^="imageWrapper_"] img[class^="lazyImg"] {
	object-fit:contain !important;
}
.markup_f8f345 code {
	background:rgba(255,174,198,0.534);
}
::selection {
	background-color:rgba(255,163,163,0.685);
	color:rgb(255,255,255);
	text-shadow: 1px 1px 2px rgba(0,0,0,.6666666667);
}
/* MARGIN */
.separator_f04d06 {
	margin: 5px;
}
